@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


:root {
  --doncella-turquoise-color: #5fcfd5;
  --doncella-grey-color: #fafafa;
  --doncella-navy-color: #003d5c; /* Deep navy blue */
  --doncella-coral-color: #ff6b6b; /* Soft coral */
  --doncella-light-blue-color: #aed9e0;
  --doncella-white-color: #ffffff;
  --main-color: rgb(0, 173, 187);
  --main-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --red-border-test: 2px solid red;
}



/* WORKING FROM HERE */

header {
  width: 100vw;
  height: auto;
  position: relative;
}

.background-image-top {
   background-image: url(../assets/top-image-clean.png);
   background-size: cover;
   background-position: center center; 
   background-repeat: no-repeat; 
   width: 100%; 
   height: 100%; 
   position: absolute; 
   top: 0;
   left: 0;
   z-index: -1;
}

#logo-contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0;
  min-width: 600px;
  max-width: 1200px;
  /* border: var(--red-border-test); */
}

.hero h3 {
  font-family: Helvetica, var(--main-font-family);
  color: #00adbb;
  font-size: 5rem;
  letter-spacing: -0.6px;
  line-height: 68px;
  font-weight: 400;
  display: flex;
  text-align: left;
  margin-top: 15rem;
}

.header-description {
  
  width: 600px;
}

.header-text {
  font-family: var(--main-font-family);
  font-size: 1.5rem;
}

.hero-description-email-container {
 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 600px;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 720px) {


  #logo-contact-container {
    max-width: 90%;
  }
  .contact-container button {
    font-size: 0.5rem;
    padding: 0.5rem;
  }

  #logo-img {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 250px;
    height: auto; /* maintain aspect ratio */
    /* You can also use percentages, e.g., width: 100%; if you want it to be responsive */
  }

  .contact-container button {
    display: none;
  }

  .hero h3 {
    font-size: 3rem;
    margin-top: 20rem;
    width: 100%;
  }

  .background-image-top {
    background-position: center center;
    height: 600px;
  }

  .hero-description-email-container {
    
    padding-left: 1.5rem;
  }

  .header-text {
    font-size: 1.2rem;
  }

  .header-description {
    width: 70%;
  }
}

/* MOBILE */

@media screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
  .background-image-top {
    width: 100%;
  }
}


#logo-img {
  max-width: 18rem;
}

.contact-container button {
  background: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  padding: 1.1rem;
  border: none;
  font-weight: 500;
  border-radius: 0.5rem;
}


/* EMAIL INPUT  */

#input-container input {
  font-size: 1rem;
  opacity: 0.6;
}

#input-container {
  display: inline-flex;
  border: 1px solid #ccc;
  background-color: #ffffff;
  width: 22rem;
  opacity: 0.9;
  background: #ffffff;
  box-shadow: 0 2px 70px 0 rgba(195, 192, 192, 0.5);
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
 
  margin-bottom: 5rem;
}

#input-container input[type="email"] {
  border: none;
  padding: 1.3rem;
  flex-grow: 1;
  background-color: #ffffff;

  /* THERE's a blue border that appears here, look into it later  */
}

#input-container button {
  border: none;
  background-color: transparent;
  padding: 0.5em;
}

#input-container button img {
  width: 3.5rem; /* Adjust as needed */
}


/* BANNER */

.countdown-banner {
  background-color: var(--main-color);
  /* background-position: center;  */
  max-width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 3rem 15rem;
  
}

.countdown-item {
  text-align: center;
  margin: 0 5rem;
}

.countdown-number {
  font-size: 6vh; /* Adjust size as needed */
  font-weight: bold;
  color: #ffffff;
}

.countdown-label {
  font-size: 2vh;
  text-transform: uppercase;
  display: block; /* Makes it go to the next line */
  color: #ffffff;
}

@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
  }

  .countdown-banner {
    max-width: 100%;
    padding: 3rem 15rem;
    border: var(--red-border-test);
  }
  
  .countdown-item {
    text-align: center;
    margin: 0 1.5rem;
  }
  
  .countdown-number {
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold;
    color: #ffffff;
  }
  
  .countdown-label {
    font-size: 1rem;
    /* text-transform: uppercase; */
    display: block; /* Makes it go to the next line */
    color: #ffffff;
  }
}

/* @media screen and (max-width: 600px) {

} */

/* SERVICES HEADING  */

.services-heading {
  margin: 5rem 0 5rem 0;
  text-align: center;
  font-family: var(--main-font-family);
  /* border: var(--red-border-test); */
  padding: 2rem;
}

.services-heading h2 {
  color: var(--doncella-turquoise-color);
  font-size: 2rem;
  font-weight: 400;
}

.services-heading h3 {
  font-size: 2rem;
  font-weight: 400;
}

/* ====================CARD==================== */
.container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin: 3rem;
  /* height: 100vh; */
}


.card__container {
  /* padding-block: 5rem; */
  /* width: 1500px; */
  /* border: var(--red-border-test); */
}

.card__content {
  overflow: hidden;
}

.card__article {
  width: auto;
  overflow: hidden;
  /* height: 70vh; */
  border: var(--red-border-test);
}

.card__image {
  position: relative;
  background-color: var(--doncella-turquoise-color);
  /* padding-top: 1.5rem; */
  margin-bottom: -0.75;
  overflow: hidden; /* This will ensure the image stays within the bounds of the container */
}

.card__data {
  background-color: var(--doncella-grey-color);
  padding: 1rem 1rem;
  text-align: center;
}

.swiper-wrapper .card__article:nth-child(2) .card__description {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: auto;
}

.card__data > p {
  font-size: 1rem;
}

.swiper {
  width: auto;
  height: 80vh;
}
.card__img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--doncella-turquoise-color);
  margin-bottom: 0.35rem;
}

.card__subtitle {
  font-weight: 500;
  font-style: var(--doncella-navy-color);
  font-size: 1rem;
  margin-bottom: 0.65rem;
}

.card__description {
  font-weight: 400;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--doncella-turquoise-color);
  padding: 0.75rem 1.5rem;
  margin: 0.75rem;
  border-radius: 0.25rem;
  color: var(--doncella-white-color);
  text-decoration: none;
  font-weight: 600;
 
}

/* Swiper class */
/* .swiper {
  width: 600px;
  height: 300px;
} */

.swiper-button-prev::after,
.swiper-button-next::after {
  /* content: ''; */
}

.swiper-button-next,
.swiper-button-prev {
  display: block;
  width: initial;
  height: initial;
  font-size: 3rem;
  color: rgb(221, 220, 220);
}

.swiper-button-prev {
  left: 1;
  
}
.swiper-button-next {
  right: 0.6;
}
.swiper-pagination-bullet {
  background-color: #aed9e0;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--doncella-turquoise-color);
}

/* ====================BREAKPOINTS==================== */

/* for small devices */

@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* for medium devices */
@media screen and (max-width: 720px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* for large devices */

@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-next {
    right: 1rem;
  }

  .swiper-button-next {
    right: 1rem;
  }
}

/* FORM */

/* CONTACT FORM SECTION  */

h2 {
  opacity: 0.7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #4ac3cd;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
}

h3 {
  font-family: AvenirNext-Medium;
  font-size: 26px;
  color: #4a4a4a;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
}

form {
  width: 800px;
  /* max-width: 40vw; */
  margin: 10px auto;
  /* border: 2px dotted #3aadbb; */
}

form .label-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-container {
  border: 1px none #e0e7eb;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* grid-auto-rows: minmax(100px, auto);  */
  /* align-items: ; */
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}

.label-input-container input {
  /* width: 15vw; */
  min-height: 45px;
  border-radius: 4px;
  border: 1px solid #e0e7eb;
  /* color: #24BDC5; */
  font-family: "OpenSans";

  outline: none;
}

.label-input-container ::placeholder {
  color: #9fa7ac;
  padding: 1rem;
  font-size: 1rem;
}

.message-container {
  grid-column: 1 / -1; /* Span across all columns */
  grid-row: span 2; /* Span across two rows */
  border-radius: 4px;
  /* color: #24BDC5; */
  font-family: "OpenSans";
  /* font-size: 18px; */
}

.message-container textarea {
  /* width: 15vw; */
  min-height: 200px;
  outline: none;
  border: 1px solid #e0e7eb;
}

.label-input-container label {
  text-align: left;
  color: #788a95;
  font-family: "Avenir Next";
  font-size: 1rem;
}

span {
  text-align: left;
  font-family: "Avenir Next";
  color: #3aadbb;
  font-size: 14px;
}

/* WORKING ON THIS  */
.radio-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 800px;

  margin: 0 auto;
}

/* display: flex;
    flex-direction: column; */
/* flex-wrap: wrap; */

input[type="radio"] {
  display: none;
}

.radio-container label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 40px;
  background-color: #dde3e8;
  color: white;
  border: 1px solid #dde3e8;
  border-radius: 30px;
  padding: 7px 16px;
  font-family: "Avenir Next", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked + label {
  background-color: #5fcfd5;
  color: #272727;
  border-color: #5fcfd5;
}

label:hover {
  background-color: #b3e0e9; /* Lighter shade for hover effect */
}

legend {
  text-align: center;
  color: #788a95;
  font-family: "Avenir Next";
  /* text-align: center; */
  margin: 1% auto;
}

#submit-form-button {
  display: block; /* Make the button a block element */
  margin: 2rem auto; /* Auto margins to center the button */
  /* Other styles remain unchanged */
  --rem: 16;
  outline: none;
  border: 0;
  background-color: #5fcfd5;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 18px;
  width: 15rem;
  height: 3rem;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 720px) {
  /* input form  */
  .input-container {
    grid-template-columns: 1fr;
  }

  .label-input-container input {
    width: 80vw;
  }

  .label-input-container label {
    width: 80vw;
  }

  .message-container textarea {
    width: 80vw;
  }

  .radio-container {
    max-width: 400px;
    padding: 1.5rem;
    margin-left: 1.5rem;
    margin-right: auto;
    gap: 2rem;
  }

  legend {
    /* text-align: left; */
    color: #788a95;
    font-family: "Avenir Next";
    padding: 1.5rem;
    margin-left: auto;

    gap: 2rem;
  }

  /* services selection  */

  /* .radio-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px ;
      margin-left: 30vw;
      } */

  #submit-form-button {
    margin-left: auto;
    /* border: 2px solid red; */
  }
}

/* FOOTER LIST  */


/* footer {
  display: flex;
flex-direction: column;

} */


.footer-banner {
  background-color: #00adb5;
  width: 100%;
}

.footer-list {
  color: var(--doncella-white-color);
  display: flex;
  list-style: none;
  width: 100%;
  font-size: 14px;
  align-items: end;
  margin-left: 50px;
  border: var(--red-border-test);
}

.footer-list #footer-logo {

  width: 300px;
}

.footer-list .links{

  color: var(--doncella-white-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 10rem;
  width: 70%;
  gap: 1rem;
  padding: 10px;
}

.footer-list a {
  color: var(--doncella-white-color);
}

.footer-content {

  display: block;
}

.footer-social-media {
  
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin-left: auto;
  margin-right: 10rem;
}


/* .footer-banner {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #00adb5; 
  padding: 10vh 10vw;
  justify-content: space-between; 
  
}

.footer-logo {
  height: auto; 
  width: 10vw; 
  margin-right: 20px; 
}

.footer-list {
  text-align: center;
  padding: 10px 0; 
  flex-grow: 1;
  
}

.footer-list ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  align-items: center;
}

.footer-list li {
  display: inline; 
}

.footer-list a {
  color: #ffffff; 
  text-decoration: none; 
}

.footer-social-media {
  display: flex;
  gap: 10px; 
  justify-content: flex-end;
  margin-right: 5vw;
  margin-bottom: 1vh;
}

.footer-social-media a img {
  width: 2vw; 
  height: auto;
} */


/* @media screen and (max-width: 720px) {
  .footer-logo {
    width: 30vw; 
  }
  
} */