@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400&display=swap");

:root {
  --doncella-turquoise-color: #5fcfd5;
  --doncella-grey-color: #fafafa;
  --doncella-navy-color: #003d5c; /* Deep navy blue */
  --doncella-coral-color: #ff6b6b; /* Soft coral */
  --doncella-light-blue-color: #aed9e0;
  --doncella-white-color: #ffffff;
  --main-color: rgb(0, 173, 187);
  --main-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --red-border-test: 2px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}


header {
  width: 100vw;
  height: auto;
  background-image: url(../assets/top-image-clean.png);
  background-size: cover;
  background-position: top;
  background-position-x: center;
  background-attachment: local;
  background-repeat: no-repeat;
}



@media screen and (width <= 1350pxig) {
  header {
    background-position: top;
    background-size: contain;
  }
}


.hero-description-email-container {
 
}

header {
  
  padding: 1% 15%;
}

/* top logo and contact button  */
#logo-contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* margin-left: 18%;
  margin-right: 13%;
  padding-top: 2%; */
}

/* Doncella logo  */
header #logo-img {
  width: 50%;
}

/* contact us button  */

.contact-container button {
  background: var(--doncella-turquoise-color);
  font-family: var(--main-font-family);
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.07rem;
  padding: 0.8rem 1.2rem;
  border: none;
  font-weight: 500;
}

.hero h3 {
  font-family: Helvetica, var(--main-font-family);
  color: #00adbb;
  /* font-size: 5rem; */
  /* letter-spacing: -0.6px; */
  /* line-height: 90px; */
  font-weight: 400;
  display: flex;
  text-align: left;
  margin-top: 12rem;

  /* font-size: 80px; */
  font-size: clamp(80px, 3vw, 100px);
  /* letter-spacing: 1px; */
}

@media screen and (width >= 1600px) {
  .hero h3 {
    margin-top: 18rem; 
    font-size:110px;
   
  }

}
.header-description {
  opacity: 0.7;
  font-family: Helvetica;
  font-size: clamp(18px, 3vw, 20px);
  color: #272727;
  letter-spacing: 0;
  line-height: 24px;
  max-width: 515px;
  font-family: var(--main-font-family);
}


.hero-description-email-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* EMAIL INPUT  */

#input-container input {
  font-size: 1rem;
  opacity: 0.6;
}

#input-container {
  /* display: inline-flex; */
  /* display: flex; */
  /* display:-webkit-flex;
  border: 1px solid #ccc;
  background-color: #ffffff;
  width: 22rem;
  opacity: 0.9;
  background: #ffffff;
  box-shadow: 0 2px 70px 0 rgba(195, 192, 192, 0.5);
  border-radius: 4px;
  font-family: var(--main-font-family);
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;
 
  margin-bottom: 5rem; */


  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #ffffff;
  width: 22rem;
  box-shadow: 0 2px 70px 0 rgba(195, 192, 192, 0.5);
  border-radius: 4px;
  font-family: var(--main-font-family);
  margin-bottom: 5rem;
}

#input-container input[type="email"] {
  /* border: none;
  padding: 1.3rem;
  flex-grow: 1;
  background-color: #ffffff; */

  /* THERE's a blue border that appears here, look into it later  */

  flex-grow: 1;
  border: none;
  padding: 1.5rem;
  border-radius: 4px 0 0 4px;
}

#input-container button {
  /* border: none;
  background-color: transparent;
  padding: 0.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem; /* Same as your image width */
  height: 3.5rem; /* Make it a square so the border-radius will turn it into a circle */
  padding: 0.5rem;
  margin: 10px;
  border: none;
  background-color: var(--doncella-turquoise-color); /* Your blue color */
  border-radius: 50%; /* Makes the button circular */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  
}


#input-container button:hover,
#input-container button:focus {
  background-color: var(--doncella-navy-color);
}

/* #input-container button img {
  width: 3.5rem; /
} */

#input-container .arrow {
  color: #ffffff;
  font-size: 1.5rem; /* Adjust the size of the arrow as needed */
  transition: transform 0.3s; /* Smooth transition for the arrow movement */
}

#input-container button:hover .arrow,
#input-container button:focus .arrow {
  transform: translateX(5px); /* Move the arrow to the right on hover/focus */
}

/* BANNER */

.countdown-banner {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.countdown-item {
  text-align: center;
  margin: 0 5rem;
}

.countdown-number {
  font-size: 6vh; /* Adjust size as needed */
  font-weight: bold;
  color: #ffffff;
}

.countdown-label {
  font-size: 2vh;
  text-transform: uppercase;
  display: block; /* Makes it go to the next line */
  color: #ffffff;
}
/* END GLOBAL CSS HERE  */
